<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ue05_Sarah_Baumann/src/main/java/de/htw/ml/Ue05_Sarah_Baumann.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.htw.ml.Ue05_Sarah_Baumann"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ue05_Sarah_Baumann"/>
</launchConfiguration>
